.btn {
	position: relative;
	top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 320px;
	min-height: 40px;
	max-width: 100%;
	color: $white;
	line-height: 1;
	@media screen and (min-width: 768px) {
		min-height: 60px;
	}
	&-primary {
		&:hover {
			background-color: $primary;
		}
		&:before {
			border-bottom-color: $primary;
		}
		&:before {
			border-top-color: $primary;
		}
	}
	&-danger {
		&:hover {
			background-color: $danger;
			color: $white;
		}
		&:before {
			border-bottom-color: $danger;
		}
		&:before {
			border-top-color: $danger;
		}
	}
	&-secondary {
		color: $primary;
		&:hover {
			background-color: $secondary;
			color: $primary;
		}
		&:before {
			border-bottom-color: $secondary;
		}
		&:before {
			border-top-color: $secondary;
		}
	}
	&-top {
		padding: 0 0 10px;
		box-shadow: 7px 0px 20px 5px rgba(0, 0, 0, 0.2);
		&:before {
			content: "";
			width: 100%;
			height: 0;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-100%);
			border-bottom-width: 11px;
			border-bottom-style: solid;
			border-left: 29px solid transparent;
			border-right: 29px solid transparent;
		}
	}
	&-bottom {
		padding: 10px 0 0;
		box-shadow: 7px 13px 20px 5px rgba(0, 0, 0, 0.2);
		&:before {
			content: "";
			width: 100%;
			height: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(100%);
			border-top-width: 11px;
			border-top-style: solid;
			border-left: 29px solid transparent;
			border-right: 29px solid transparent;
		}
	}
}