// ==============
// = STAN BAR ===
// ==============

.stan-bar {
	position: relative;
    max-width: 67vw;
    &-title {
    	@media screen and (max-width: 767px) {
    		max-width: 100%;
    		min-width: 100% !important;
    		width: 100% !important;
    		.stan-bar-circle {
    			display: none !important;
    		}
    	}
    	
    }
	&-right {
		margin-left: auto;
		right: 0;
		.stan-bar-circle {
			margin: 0 auto 0 0;
			transform: translateX(-50%);
		}
	}
	&-inner {
		position: absolute;
	}
	&-bar {
		height: 100%;
	}
	&-circle {
		margin-left: auto;
		transform: translateX(50%);
		height: 100%;
		width: 0;
		border-radius: 100%;
	}
}

// ================
// = STAN QUOTE ===
// ================

.stan-blockquote {
	width: 512px;
	max-width: 100%;
	text-align: left;
	background: url("../icon/guillemets-top.svg") no-repeat left 15px top 15px, url("../icon/guillemets.svg") no-repeat right 40px bottom 67px;
	@media screen and (min-width: 768px) {
		&-absolute {
			position: absolute;
		    top: 8%;
		    left: 14%;
			max-width: 50%;
		}
	}
	
}


// ==================
// = STAN PERSONA ===
// ==================

.stan-personas {
	display: flex;
	@media screen and (min-width: 992px) {
		padding: 0 5%;
		justify-content: center;
	}
	@media screen and (max-width: 991px) {
		padding: 20px 20px 25px;
		overflow-x: scroll;
    	scroll-snap-type: x proximity;
    	&:after {
    		width: 100%;
    	}
	}
	&-bg {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			display: block;
			left: 0%;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			height: 350px;
			background-color: $primary;
		}
	}
	&-mutuelle:after {
		background-color: $danger;
	}
	&-card {
		display: block;
		position: relative;
		z-index: 2;
		box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.2);
		width: 543px;
		cursor: pointer;
		font-size: 1rem;
		z-index: 3;
		@media screen and (max-width: 991px) {
			margin: 0px 10px;
			min-width: 80vw;
		}
		@media screen and (min-width: 992px) {
			margin: 0 -5%;
			transform: scale(0.8);
			transition: transform 0.6s;
		}
		&:last-child {
			z-index: 2;
		}
		&-image {
			margin: 30px auto;
			width: 213px;
			max-width: 100%;
			border-radius: 100%;
			overflow: hidden;
		}
	}
	&-radio {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -1;
		opacity: 0;
		@media screen and (min-width: 768px) {
			&:checked {
				+ .stan-personas-card {
					z-index: 5;
					transform: scale(1.0);
				}
			}
		}
	}
}

// ==================
// = STAN TITLE =====
// ==================
@media screen and (min-width: 1750px) {
	.main-title {
		margin: -85px 0;
	}
}

// ==================
// = STAN PROFILE ===
// ==================
.stan-profiles {
	overflow: hidden;
}
.stan-profile {
	position: relative;
	max-width: 90vw;
	&:after,
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		height: 100%;
	}
	&:before {
		width: 91%;
	}
	&:after {
		right: -6%;
		width: 15%;
	}
	&-jerome {
		padding-right: 45px !important;
		&:after,
		&:before {
			background-color: $secondary;
		top: 0;
		}
		&:before {
			left: 0;
		}
		&:after {
			clip-path: polygon(0 0, 0% 100%, 100% 0);
		}
	}
	&-jb {
		@media screen and (min-width: 1366px) {
			top: 50px;
		}
		padding-left: 65px !important;
		margin-left: auto;
		&:after,
		&:before {
			background-color: $danger;
			top: 20px;
		}
		&:before {
			right: 0;
		}
		&:after {
			left: -6%;
			width: 15%;
			clip-path: polygon(0 100%, 100% 100%, 100% 0);
		}
		.stan-profile-img {
			img {
				clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0% 50%);
			}
		}

	}
	&-img {
		img {
			clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
		}
	}
}


// ====================
// = STAN FIXED NAV ===
// ====================

.fixed-nav {
	position: fixed;
	right: 0;
	top: 18vh;
	z-index: 12;
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 10px;
		transform: translateX(148px);
		transition: transform 0.4s;
		&:hover {
			transform: translateX(0px);
		}
	}
	a {
		display: block;
		width: 100%;
		line-height: 1;
		color: $primary;
		text-decoration: none;
	}
	.stan-bar {
		background-color: $secondary;
	}
	.stan-bar-circle {
		background-color: $danger;
	}
}

.target {
	position: relative;
	top: -50px;
}