.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	left: 0;
	svg {
		height: 64px;
		transition: all 0.4s;
	}
}

.scrolled {
	.header {
		.stan-bar {
			display: none;
		}
		.navbar-btn {
			margin-top: 13px;
		}
		svg {
			height: 46px;
		}
	}
}

.navbar-brand {
	max-width: calc(50% - 20px);
	padding: 15px 0;
	svg {
		max-width: 100%;
	}

}
.navbar-btn {
	margin: 33px 0 13px;
	max-width: calc(50% - 20px);
}


