small {
	font-size: 70%;
	display: inline-block;
	line-height: 1.1;
}

blockquote {
	font-weight: bold;
	font-style: italic;
}

figcaption {
	font-size: 1.8rem;
}

.modal-link {
	cursor: pointer;
}

body {
	font-size: $font-size-base;
}

h1, .h1 {
	font-size: $h1-font-size;
	font-weight: bold;
}

h2, .h2 {
	font-size: $h2-font-size;
	font-weight: bold;
}

.titre-section {
	font-size: 3.43rem;
	font-weight: bold;
}


h3, .h3 {
	font-size: $h3-font-size;
	font-weight: bold;
}

h4, .h4 {
	font-size: $h4-font-size;
}

section {
	ul {
		list-style: none;
	}

	li {
		position: relative;
		padding-left: 8px;
		margin-bottom: 6px;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: ">";
			position: absolute;
			left: -18px;
			top: 0px;
		}
	}
}

@media screen and (max-width: 670px) {
	.fs-xs-16 {
		font-size: 1rem;
		line-height: 1;
	}
}

@media screen and (max-width: 445px) {
	.fs-xs-16 {
		top: -8px;
	}
}