@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Urbanist";
  src: url("/assets/fonts/Urbanist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Urbanist";
  src: url("/assets/fonts/Urbanist-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Urbanist";
  src: url("/assets/fonts/Urbanist-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Urbanist";
  src: url("/assets/fonts/Urbanist-ExtraBold.woff2") format("woff2");
  font-weight: 900;
}

:root {
  --white: 255 255 255;
  --blue: 6 61 208;
  --dark: 0 60 170;
  --red: 255 102 104;
  --blue-light: 25 222 224;
  --blue-dark: 0 0 97;
  --grey: 0 0 0;
}

body {
  color: rgb(var(--white));
  font-family: Urbanist;
  width: 100vw;
  overflow-x: hidden;
}
